
body {
  background: url(../img/credo-bg.jpg) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  top: 0px;
  position: fixed;
  padding: 10px;
  text-align: center;
  color: #FFF;
}
header span.copyright {
    line-height: 0px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}