{% extends index.html %}
{% block inner %}
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Editing hotspot {{ hotspot.name }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="col-lg-6">
								<form role="form" action="/edit_hotspot_confirm" method="POST">
									<div class="form-group">
										<label>Hotspot name</label>
										<input name="name" class="form-control" value="{{ hotspot.name }}">
									</div>
									<div class="form-group">
										<label>Hotspot IP</label>
										<input name="ip" class="form-control" placeholder="{{ hotspot.ip }}" value="{{ hotspot.ip }}" disabled>
									</div>
									<div class="form-group">
										<label>Temlate</label>
										<select name="template_id" class="form-control">
											{% for template in templates %}
												{% if template.id == hotspot.template.id %}
													<option value="{{ template.id }}" selected>{{ template.name }}</option>
												{% else %}
													<option value="{{ template.id }}">{{ template.name }}</option>
												{% end %}
											{% end %}
										</select>
									</div>
									<input type="hidden" name="hotspot_id" class="form-control" value="{{ hotspot.id }}">
									<button type="submit" class="btn btn-default">Save changes</button>
								</form>
							</div>
							<!-- /.col-lg-6 -->
						</div>
					</div>
					<!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% end %}
