{% extends index.html %}
{% block inner %}
	<div class="row">
		<br>
		<div class="col-lg-12">
					<div class="panel panel-red">
						<div class="panel-heading">
                            ERROR
                        </div>
                        <div class="panel-body">
                            <p>{{ errmsg }}</p>
                        </div>
                        <div class="panel-footer">
                            <form action="/">
								<button type="submit" class="btn btn-default" >Go back</button>
                            </form>
                        </div>
					</div>
					<!-- /.panel -->
		</div>
        <!-- /.col-lg-12 -->
   </div>
   <!-- /.row -->
{% end %}
