<div id="login">
	<link rel="stylesheet" href="default/css/form.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="css/form.css" media="screen" type="text/css" />
	<h1>Вход в Интернет</h1>
	<fieldset>
		<p class=err-msg>{{ errmsg }}</p>
		<form action='/confirm' method='POST'>
			<input name="code" type="number" placeholder="Введите код, полученный в SMS" autocomplete="off" style="text-align:center"/>
			<input type="hidden" name="session_id" value="{{ session_id }}" />
			<input type="submit" value="ВОЙТИ" />
		</form>
		<form action='/getcode' method='POST'>
			<input name="reset" type="hidden" value="1" />
			<input type="hidden" name="session_id" value="{{ session_id }}" />
			<input id='BACK' type="submit" value="Начать заново" />
		</form>
	</fieldset>
</div>
