{% extends index.html %}
{% block inner %}
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Templates</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            Available templates
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Speed Down/Up</th>
                                            <th>Download Limit</th>
                                            <th>Session Timeout</th>
                                            <th>HTML Temlate</th>
                                            <th>Change</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for template in templates %}
                                        <tr class="odd gradeX">
											<td>{{ template.name }}</td>
											<td>
												{% if template.down_rate %}
													{{ template.down_rate / 1024 }}
												{% else %}
													unlimited
												{% end %}
												/
												{% if template.up_rate %}
													{{ template.up_rate / 1024 }}
												{% else %}
													unlimited
												{% end %}
												{% if template.up_rate or template.down_rate %}
												 Mbit/s
												{% end %}
											<td>
												{% if not template.down_limit %}
													unlimited
												{% else %}
													{{ template.down_limit / 1024 }} MByte
												{% end %}
											</td>
											<td>
												{% if not template.session_timeout %}
													unlimited
												{% elif template.session_timeout > 3600 %}
													{{ template.session_timeout / 3600 }} hours
												{% else %}
													{{ template.session_timeout / 60 }} minutes
												{% end %}
											</td>
											<td>{{ template.html }}</td>
											<td>
												<center>
												{% if template.id != 1 %}
												<form style="display:inline-block;" action='/edit_template' method='POST'>
													<input type="hidden" name="id" value="{{ template.id }}" />
													<button type='submit' class="btn btn-outline btn-warning btn-xs">Edit</button>
												</form>
												<form class="need_confrim" style="display:inline-block;" action='/del_template' method='POST'>
													<input type="hidden" name="id" value="{{ template.id }}" />
													<button type='submit' class="btn btn-outline btn-danger btn-xs">Delete</button>
												</form>
												
												{% else %}
												 -
												{% end %}
												</center>
                                            </td>
                                        </tr>
                                        {% end %}
                                    </tbody>
                                </table>
                                <form action="/new_template" method="POST">
									<button type="submit" class="btn btn-default">New template</button>
                                </form>
                            </div>
                            <!-- /.dataTable_wrapper -->
						</div>
					</div>
					<!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Hotspots</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            Available hotspots
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>IP-address</th>
                                            <th>Template</th>
                                            <th>Change</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for hotspot in hotspots %}
                                        <tr class="odd gradeX">
                                            <td>{{ hotspot.name }}</td>
                                            <td>{{ hotspot.ip }}</td>
                                            <td>{{ hotspot.template.name }}</td>
                                            <td>
												<center>
												<form style="display:inline-block;" action='/edit_hotspot' method='POST'>
													<input type="hidden" name="hotspot_id" value="{{ hotspot.id }}" />
													<button type='submit' class="btn btn-outline btn-warning btn-xs">Edit</button>
												</form>
												<form class="need_confrim" style="display:inline-block;" action='/del_hotspot' method='POST'>
													<input type="hidden" name="hotspot_id" value="{{ hotspot.id }}" />
													<button type='submit' class="btn btn-outline btn-danger btn-xs">Delete</button>
												</form>
												</center>
                                            </td>
                                        </tr>
                                        {% end %}
                                    </tbody>
                                </table>
                                <form action="/new_hotspot" method="POST">
									<button type="submit" class="btn btn-default">New hotspot</button>
                                </form>
                            </div>
                            <!-- /.dataTable_wrapper -->
						</div>
					</div>
					<!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
			</div>
            <!-- /.row -->
            {% end %}


