<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="manage.html">Admin Panel</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  {{ user }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="stat.html"><i class="fa fa-sitemap fa-fw"></i> Statistic<span class="fa arrow"></span></a>
                        </li>
                        <li>
                            <a href="manage.html"><i class="fa fa-wrench fa-fw"></i> Management<span class="fa arrow"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
			
			<div class="row">
				<div class="col-lg-12">
                    <h1 class="page-header">SMS Tarif</h1>
                </div>
                <!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            Current tarif
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>SMS include</th>
                                            <th>SMS cost</th>
                                            <th>SMS used</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>Hotspot-1000</td>
                                            <td>1000</td>
                                            <td>1.4 rub</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.dataTable_wrapper -->
						</div>						
					</div>
					<!-- /.panel -->
				</div>
                <!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Templates</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            Available templates
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Speed Down/Up</th>
                                            <th>Download Limit</th>
                                            <th>Session Timeout</th>
                                            <th>HTML Temlate</th>
                                            <th>Change</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for template in templates %}
                                        <tr class="odd gradeX">											
											<td>{{ template['name'] }}</td>
											<td>{{ template['down_rate'] / 1024 }} / {{ template['up_rate'] / 1024 }} MBit/s</td>
											<td>{{ template['down_limit'] / 1024 }} MByte</td>
											<td>{{ template['session_timeout'] / 60 }} minutes</td>
											<td>{{ template['html'] }}</td>
											<td>
                                            	<a href="#" class="btn btn-outline btn-warning">Edit</a>
												<a href="#" class="btn btn-outline btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        {% end %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.dataTable_wrapper -->
						</div>						
					</div>
					<!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Hotspots</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            Available hotspots
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>IP-address</th>
                                            <th>Template</th>
                                            <th>Change</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for hotspot in hotspots %}
                                        <tr class="odd gradeX">
                                            <td>{{ hotspot['name'] }}</td>
                                            <td>{{ hotspot.ip }}</td>
                                            <td>{{ hotspot.template['name'] }}</td>
                                            <td>
												<a href="#" class="btn btn-warning">Edit</a>
												<a href="#" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        {% end %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.dataTable_wrapper -->
						</div>						
					</div>
					<!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>

</html>
