{% extends index.html %}
{% block inner %}
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New template</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="col-lg-6">
								<form role="form" action="/new_template_confirm" method="POST">
									<div class="form-group">
										<label>Template name</label>
										<input name="name" class="form-control">
									</div>
									<div class="form-group">
										<label>Down Speed (Mbit/s)</label>
										<select name="down_rate" class="form-control">
											{% for (val,name) in [[512,0.5],[1024,1],[2048,2],[5120,5],[10240,10],[0,'unlimited']] %}
												<option value="{{ val }}">{{ name }}</option>										
											{% end %}
										</select>
									</div>
									<div class="form-group">
										<label>Up Speed (Mbit/s)</label>
										<select name="up_rate" class="form-control">
											{% for (val,name) in [[512,0.5],[1024,1],[2048,2],[5120,5],[10240,10],[0,'unlimited']] %}
												<option value="{{ val }}">{{ name }}</option>
											{% end %}
										</select>
									</div>
									<div class="form-group">
										<label>Download Limit (MByte)</label>
										<select name="down_limit" class="form-control">
											{% for (val,name) in [[10240,10],[51200,50],[102400,100],[204800,500],[1048576,1000],[0,'unlimited']] %}
												<option value="{{ val }}">{{ name }}</option>
											{% end %}
										</select>
									</div>
									<div class="form-group">
										<label>Session Timeout</label>
										<select name="session_timeout" class="form-control">
											{% for (val,name) in [[900, '15 minutes'],[1800,'30 minutes'],[3600,'60 minutes'],[7200,'2 hours'],[86400,'24 hours'],[0,'unlimited']] %}
												<option value="{{ val }}">{{ name }}</option>
											{% end %}
										</select>
									</div>
									<div class="form-group">
										<label>HTML Template</label>
										<select name="html" class="form-control" disabled>
											<option value="default">default</option>
										</select>
										<p class="help-block">Sorry! Only adminstrator can edit this field</p>
									</div>												
									<button type="submit" class="btn btn-default">Create template</button>
								</form>
							</div>
							<!-- /.col-lg-6 -->
						</div>
					</div>
					<!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% end %}
