{% extends index.html %}
{% block inner %}
			<div class="row">
				<div class="col-lg-12">
                    <h1 class="page-header">Statistic Info</h1>
                </div>
                <!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
                            Session Info
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="dataTable_wrapper">
								<table class="table table-striped table-bordered table-hover" id="dataTables-session">
                                    <thead>
                                        <tr>
                                            <th>Hotspot</th>
                                            <th>Phone</th>
                                            <th>MAC-address</th>
                                            <th>Start</th>
                                            <th>Finished</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- /.dataTable_wrapper -->
						</div>						
					</div>
					<!-- /.panel -->
				</div>
                <!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<script>
				$(document).ready(function() {
						$('#dataTables-session').DataTable({
							"order": [[3, 'desc']],
							"searching": false,
							"serverSide": true,
							"processing": true,
							"lengthMenu": [[10,25,50], [10,25,50]],
							"ajax": {
								"url": "/get_session_table",
								"type": "POST"
							}
						});
				});
			</script>
{% end %}
