{% extends index.html %}
{% block inner %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Изменение хот-спота "{{ hotspot.name }}"</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <form role="form" action="/edit_hotspot" method="POST">
                                    <div class="form-group">
                                        <label>Имя хот-спота</label>
                                        <input name="name" class="form-control" value="{{ hotspot.name }}">
                                        <p class="help-block">Имя может быть любым</p>
                                    </div>
                                    <div class="form-group">
                                        <label>IP-адрес</label>
                                        <input name="ip" class="form-control" placeholder="{{ hotspot.ip }}" value="{{ hotspot.ip }}" disabled>
                                        <p class="help-block">IP-адрес хот-спота. Для изменения требуется обратиться к персональному менеджеру</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Шаблон настроек</label>
                                        <select name="template_id" class="form-control">
                                            {% for template in templates %}
                                                {% if template.id == hotspot.template.id %}
                                                    <option value="{{ template.id }}" selected>{{ template.name }}</option>
                                                {% else %}
                                                    <option value="{{ template.id }}">{{ template.name }}</option>
                                                {% end %}
                                            {% end %}
                                        </select>
                                        <p class="help-block">Шаблон настроек хот-спота</p>
                                    </div>
                                    <div class="form-group">
                                        <label>HTML-шаблон</label>
                                        <select name="html_path_id" class="form-control">
                                            {% for html_path in html_paths %}
                                                {% if html_path.id == hotspot.html_path_id %}
                                                    <option value="{{ html_path.id }}" selected>{{ html_path.name }}</option>
                                                {% else %}
                                                    <option value="{{ html_path.id }}">{{ html_path.name }}</option>
                                                {% end %}
                                            {% end %}
                                        </select>
                                        <p class="help-block">Название HTML-шаблона, используемого для этого хот-спота</p>
                                    </div>
                                    <input type="hidden" name="id" class="form-control" value="{{ hotspot.id }}">
                                    <button type="submit" class="btn btn-default">Сохранить изменения</button>
                                    <a href="/manage" class="btn btn-default">Вернуться назад</a>
                                </form>
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% end %}
