<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Панель администратора</title>

	<!-- Bootstrap Core CSS -->
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- DataTables CSS -->
	<link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
	
	<!-- RMT CSS -->
	<link href="../rmtiframe/rmt_style.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
	<link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- jQuery -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

	<!-- DataTables JavaScript -->
	<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="../dist/js/sb-admin-2.js"></script>

</head>

<body>
	<div id="wrapper">
		{% block navigation %}
			<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-brand" href="/stat">Панель управления хот-спотами</a>
				</div>
				<!-- /.navbar-header -->
				<ul class="nav navbar-top-links navbar-right">
					<li>
						<a href="/stat"><i class="fa fa-sitemap fa-fw"></i> Информация<span class="fa arrow"></span></a>
					</li>
					<li>
						<a href="/manage"><i class="fa fa-wrench fa-fw"></i> Управление<span class="fa arrow"></span></a>
					</li>
				</ul>
			</nav>
		{% end %}
		<div id="page-wrapper">
			{% block inner %}
			{% end %}
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
</body>
<script>
{% if 'session_id' in globals() %}
	$('form').submit(function() {
		var input = $("<input>").attr("type", "hidden").attr("name", "session_id").val("{{ session_id }}");
		$(this).append($(input));
	});
	$('a').not(".external").click(function() {
		this.href += "?session_id={{ session_id }}";
	});
	$.ajaxPrefilter(function(options,originalOptions, jqXHR) {
		options.data = "session_id={{ session_id }}&" + options.data;
	})
{% end %}

</script>
</html>
