/*!
 * RMT BLOCK
 */

body {
    background-color: #0CAC54;
}

.modal-content {
	background-color: #DFF3C2;
}

.navbar {
	background-color: #BFDF90;
}

.navbar a {
	color: #000;
}

.page-header {
	margin: 10px 0 0 0;
	text-align: center;
}

#wrapper {
    width: 98%;
    margin-left: 1%;
    background-color: #DFF3C2;
}

#page-wrapper {
    padding: 0 10px;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}


.login-panel {
    margin-top: 25%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

#dataTables-session_paginate > ul > li.paginate_button > a {
	color: #000;
}

.panel-default {
	border-radius: 0;
	border: 1px solid #000;
	background-color: #BFDF90;
}

.panel-default .panel-heading {
	font-size:14px;
	color:maroon;
	font-weight:bold;
	border: 0;
	text-align: center;
	background-color: #BFDF90;
}

table {
	width: 100%;
	margin-top: 0px;
	background-color: #BFDF90;
	margin-bottom: 10px;
}

th {
	font-size:15px;
	color:maroon;
	font-weight:bold;
	padding: 5px;
}

td {
	font-size:15px;
	padding: 7px;
}

th,td {
	text-align: center;
	border: 1px solid #000;
}

.text_left {
	text-align: left;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #DFF3C2;
}

.help-block {
	color: #393232;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}


