<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход в Интернет</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/default-index.css?id=1234" rel="stylesheet">
    <link href="static/css/credo-index.css?id=1234" rel="stylesheet">
</head>
<body>
	<header>
		<center><span class="copyright">ЗАО "КРЕДО-ТЕЛЕКОМ"</span></center>
	</header>
	<div class="intro-form">
		<center>
			{% raw form %}
		</center>
	</div>

</body>
</html>
