<div id="login" class="describe">
    <legend>{{ _("Dear guest") }}!</legend>
    <p>
        {{ _("In accordance with the laws of the Russian Federation a service provider is obliged to identify user before granting access to the Internet") }}.
    <br><br>
        {{ _("Please enter your phone number in order to get your SMS with an authorization code") }}.
        {{ _("The Internet connection will start after entering the valid authorization code") }}.
    <br><br>
        {{ _("If you have a problem connecting to the network, please contact an administrator") }}.
    </p>
    <form action='/'>
        <button class="btn btn-warning" type="submit">{{ _('Go back') }}</button>
    </form>
</div>
