<!DOCTYPE html>
<html class="full">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ _('Authentification') }}</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/default-index.css?12" rel="stylesheet">
</head>
<body>
    <div class="intro-form">
        <center>
        {% raw form %}
        </center>
    </div>
</body>
<script>
    $(":submit").click(function() {
        $(this).attr("disabled", true);
        $(this).text("{{ _('Loading') }}");
        $(this).closest("form").submit();
    });
</script>
</html>
